{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Classic Demonlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TMDL.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'index' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Classic Demonlist
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'index' %}">Main list</a></li>
                    <li><a class="dropdown-item" href="{% url 'classic_extendedlist' %}">Extended List</a></li>
                    <li><a class="dropdown-item disabled" href="#">Legacy List</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Platformer Demonlist
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Main list</a></li>
                    <li><a class="dropdown-item disabled" href="#">Extended List</a></li>
                    <li><a class="dropdown-item disabled" href="#">Legacy List</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        {% for level in classic_levels|dictsort:"ranking" %}
        <div class="card mt-3 mx-auto" style="max-width: 780px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ level.youtube_thumbnail }}" class="img-fluid rounded-start" style="width: 100%;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">#{{ level.ranking }} - {{ level.name }}</h5>
                <p class="card-text"><strong>Published by:</strong> {{ level.publisher }}</p>
                <button class="btn btn-primary" data-level-id="{{ level.levelid }}" id="liveToastBtn">Copy Level ID</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var copyButtons = document.querySelectorAll(".btn");
        
                copyButtons.forEach(function (button) {
                    button.addEventListener("click", function () {
                        var levelId = button.getAttribute("data-level-id");
                        copyToClipboard(levelId);
                    });
                });
            });
        
            function copyToClipboard(text) {
                var textarea = document.createElement("textarea");
                textarea.value = text;
                document.body.appendChild(textarea);
                textarea.select();
                document.execCommand("copy");
                document.body.removeChild(textarea);
                alert("Level ID copied to clipboard: " + text);
            }
        </script>  
</body>
</html>
{% endblock %}