{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>
<body class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand-lg bg-light sticky-top justify-content-center">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><strong>TMDL.</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'index' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Classic Demonlist
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'index' %}">Main list</a></li>
                    <li><a class="dropdown-item" href="{% url 'classic_extendedlist' %}">Extended List</a></li>
                    <li><a class="dropdown-item" href="{% url 'classic_legacylist' %}">Legacy List</a></li>
                    <li><a class="dropdown-item" href="{% url 'classic_stat_viewer' %}">Stat Viewer</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Platformer Demonlist
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'platformer_mainlist' %}">Main list</a></li>
                    <li><a class="dropdown-item disabled" href="#">Extended List</a></li>
                    <li><a class="dropdown-item disabled" href="#">Legacy List</a></li>
                    <li><a class="dropdown-item" href="{% url 'platformer_stat_viewer' %}">Stat Viewer</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'guidelines' %}">Guidelines</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}
    {% endblock %}
    <footer class="bg-body-tertiary text-center text-lg-start mt-auto">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          Made by <strong><a class="text-body" href="https://github.com/apostorial" target="_blank">Apostorial</a></strong>
          <br>
          <strong>TMDL</strong> is not affiliated with RobTopGames
        </div>
    </footer>
</body>
</html>