{% extends "base.html" %}
{% load static %}
{% block title %}Guidelines{% endblock %}
{% block content %}
<div class="container mx-auto mb-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Allowed Hacks</h5>
                    <ul>
                        <li>FPS bypass up to 360FPS, same goes for TPS bypass</li>
                        <li>Show hitboxes on death, only for non memory levels</li>
                        <li>Speedhack only x1.1+</li>
                        <li>Zero delay</li>
                        <li>Smart StartPos</li>
                        <li>No wave pulse</li>
                        <li>No death effect</li>
                        <li>No respawn pulse</li>
                        <li>Trail always on/off</li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Banning Players</h5>
                    <ul>
                        <li>A flag role in the Discord will be given to hackers, a flagged player will go through more severe hack detection and will be obligated to provide more proof</li>
                        <li>If a player has been caught hacking a second time they will be banned for a duration from 2 weeks to 2 months</li>
                        <li>If a player has been caught hacking a third time they will be banned permanently</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Record Submitting</h5>
                    <ul>
                        <li>Extremes demon completions require audible clicks</li>
                        <li>Insane demons in the top 75 hardest insanes (visit the idl) require audible clicks</li>
                        <li>2 player levels will require a recording with a hand cam</li>
                        <li>Cheat indicator must always be on, rule doesn't apply to users without MegaHackPro</li>
                        <li>The recording must be of clear quality</li>
                        <li>The recording must be submitted on our <a class="text-decoration-none" href="https://discord.gg/CfzT9EQpr2" target="_blank">Discord server</a></li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Bonus</h5>
                    <ul>
                        <li>1 attempt practice completions are allowed</li>
                        <li>100% accuracy runs <strong>won't</strong> be accepted.</li>
                        <li>Exiting at the endscreen <strong>won't</strong> count as a completion and the record will not be accepted</li>
                        <li>If a level has been beaten on an external LDM that's not supported by the list the record <strong>won't</strong> be accepted</li>
                        <li>Using a StartPos from 0% is allowed</li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Unauthorized mods</h5>
                    <ul>
                        <li>CBF Mod (Click Between Frames)</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}